<!DOCTYPE html>
<html class="xa-page" lang="zh-CN">
<head>
<!-- <base href="http://127.0.0.1:3000/"> -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit" />
<meta name="google" value="notranslate" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="robots" content="noindex,nofollow" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,shrink-to-fit=no"
/>
<title>api 接口测试</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap/bootstrap.min.css" />
</head>
<body>
</br>
</br>
<h2>1.注册</h2>
<input type="text" class="js-username" value="曹操"></br>
<input type="text" class="js-pwd" value="123456"></br>
<input type="text" class="js-role" value="2"></br>
<input type="text" class="js-email" value="cc@sina.com"></br>
<input type="text" class="js-mobile" value="13888888888"></br>
<button id="js-add">注册</button>



</br>
</br>
<h2>2.登录</h2>
<input type="text" class="js-login-username" value="曹操"></br>
<input type="text" class="js-login-pwd" value="123456"></br>
<button type="button" id="js-submit">登录</button></br></br></br>

</br>
</br>
<h2>3.获取数据</h2>
<button id="js-list">获取</button>

<table class="table">
<thead>
<tr>
  <th>ID</th>
  <th>姓名</th>
  <th>邮箱</th>
  <th>手机号</th>
  <th>时间</th>
  <th>操作</th>
</tr>
</thead>
<tbody class="js-list-tbody">
</tbody>
</table>

</br>
</br>
<h2>4.退出登录</h2>
<button type="button" id="js-loginout">退出</button></br></br></br>

</br>
</br>
<h2>5.刷新</h2>
<button type="button" id="js-refresh">刷新</button></br></br></br>

</br>
</br>
<h2>6.role</h2>
<button type="button" id="js-role">role测试</button></br></br></br>


<script src="assets/vendors/jquery/3.3.1/dist/jquery.min.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.min.js"></script>
<script src="assets/vendors/storejs/dist/store.min.js"></script>
<script>
$(function(){

  var token ='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NzgsInVzZXJuYW1lIjoi5pu55pONIiwicm9sZW5hbWUiOiJhZG1pbiIsImV4cCI6MTU2MjMxMzU0MCwiaWF0IjoxNTYyMzA5OTQwLCJpc3MiOiJpcmlzLWNhc2JpbnMtand0In0.GRK3tzaRU2UayGW3VcGjdvCqocnDTGjCWu_mql3n8BI'

  // 1.登录
  $("#js-submit").on("click", function(){

    let user = {
      Username: $('.js-login-username').val(),
      Password: $('.js-login-pwd').val()
    }

    console.log('登录用户==',user)

    $.ajax({
      type: "post",
      url: "http://127.0.0.1:3000/sys/user/login",
      async:  true,
      data: JSON.stringify(user),
      cache: false,
      dataType: "json",
      success: function(res) { 
        console.log(res)
        store.set("auth-token", res.data.token)
      },
      error: function(e) {
        console.log(e)
      }
    });
  });

  // 2.获取数据
  $("#js-list").on("click", function(){

    let query = {
      pageNumber: 1,
      pageSize: 10,
      name: '',
    }

    const params = Object.keys(query)
      .map(key => query[key] && `${encodeURIComponent(key)}=${encodeURIComponent(query[key])}`)
      .join('&');

    console.log(params)  


    $.ajax({
      type: "get",
      url: "http://127.0.0.1:3000/sys/user/list?"+ params,
      async:  true,
      cache: false,
      dataType: "json",
      success: function(res) {     
        console.log(res)
        let tpl = ''
        for (const item of res.data.rows) {
          tpl +=  `<tr data-id="${item.id}">
            <th scope="row">${item.id}</th>
            <td>${item.username}</td>
            <td>${item.email}</td>
            <td>${item.mobile}</td>
            <td>${item.createTime}</td>
            <td>
              <button type="button" id="js-edit">查看</button>
              <button type="button" id="js-delete">删除</button>
            </td>
          </tr>`
        }
        $('.js-list-tbody').html(tpl)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        //request.setRequestHeader("Authorization", "bearer "+token);
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 3.添加数据
  $("#js-add").on("click", function(){

    let user = {
      RoleId: parseInt($('.js-role').val()),
      Username: $('.js-username').val(),
      Password: $('.js-pwd').val(),
      Email: $('.js-email').val(),
      Mobile: $('.js-mobile').val(),
      IsSuper: 1,
      Status: 1,
    }

    $.ajax({
      type: "post",
      url: "http://127.0.0.1:3000/sys/user/registe",
      async:  true,
      data: JSON.stringify(user),
      cache: false,
      dataType: "json",
      success: function(res) {    
        console.log(res)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 4.查看数据
  $('.js-list-tbody').on('click', '#js-edit', function(){
    const id = $(this).parents('tr').attr('data-id')
    $.ajax({
      type: "get",
      url: "http://127.0.0.1:3000/sys/user/item?id=" + id,
      async:  true,
      cache: false,
      dataType: "json",
      success: function(res) {     
        console.log(res.data)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 5.删除数据
  $('.js-list-tbody').on('click', '#js-delete', function(){
    const id = $(this).parents('tr').attr('data-id')
    const ids = [69,73]
    $.ajax({
      type: "get",
      //url: "http://127.0.0.1:3000/user/delete?id=" +ids.join(","),
      url: "http://127.0.0.1:3000/sys/user/delete?id=" +id,
      async:  true,
      cache: false,
      dataType: "json",
      success: function(data) {     
        console.log(data)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 6.退出
  $('#js-loginout').on('click', function(){
    $.ajax({
      type: "get",
      url: "http://127.0.0.1:3000/sys/user/loginout",
      async:  true,
      cache: false,
      dataType: "json",
      success: function(data) {     
        console.log(data)
        store.remove("auth-token")
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 6.刷新token
  $("#js-refresh").on("click", function(){

    $.ajax({
      type: "get",
      url: "http://127.0.0.1:3000/sys/user/test",
      async:  true,
      cache: false,
      dataType: "json",
      success: function(res) {    
        console.log(res)
        store.set("auth-token", res.data)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 7.role
  $("#js-role").on("click", function(){
    let query = {
      pageNumber: 1,
      pageSize: 10,
    }

    const params = Object.keys(query)
            .map(key => query[key] && `${encodeURIComponent(key)}=${encodeURIComponent(query[key])}`)
            .join('&');

    $.ajax({
      type: "get",
      //url: "http://127.0.0.1:3000/sys/role/list?" + params,
      url: "http://127.0.0.1:3000/sys/role/roleuserlist?rKey=/sys/*",
      async:  true,
      cache: false,
      dataType: "json",
      success: function(res) {
        console.log(res)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });


  
})
</script>
</body>
</html>
