<!DOCTYPE html>
<html class="xa-page" lang="zh-CN">
<head>
  <base href="http://127.0.0.1:3000/">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta name="google" value="notranslate" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="robots" content="noindex,nofollow" />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1,shrink-to-fit=no"
  />
  <title>{{.Title}}</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
</head>
<body>
<h2>列表展示</h2>
<table class="table">
<thead>
<tr>
  <th>ID</th>
  <th>中文名</th>
  <th>操作</th>
</tr>
</thead>
<tbody>
{{range $i, $data := .Datalist}}
<tr>
  <th scope="row">{{.Id}}</th>
  <td>{{$data.Name}}</td>
  <td>
    <a href="/user/list?pageNumber=1&pageSize=2">全部</a>
    <a href="/user/item?id={{.Id}}">修改</a>
    <a href="/user/delete?id={{.Id}}">删除</a>
  </td>
</tr>
{{end}}
</tbody>
</table>


</br>
</br>
<h2>1.登录</h2>
<input type="text" name="Name" value="刘备"></br>
<input type="text" name="Password" value="123456"></br>
<button type="button" id="js-submit">登录</button></br></br></br>

</br>
</br>
<h2>2.获取数据</h2>
<button id="js-list">获取</button></br></br></br>


</br>
</br>
<h2>2.添加测试</h2>
<button id="js-add">添加/保存</button>
<script src="assets/vendors/jquery/3.3.1/dist/jquery.min.js"></script>
<script src="assets/vendors/storejs/dist/store.min.js"></script>
<script>
$(function(){

  // 1.登录
  $("#js-submit").on("click", function(){

    let user = {
      Name: '刘备',
      Password: '123456'
    }

    $.ajax({
      type: "post",
      url: "http://127.0.0.1:3000/user/login",
      async:  true,
      data: JSON.stringify(user),
      cache: false,
      dataType: "json",
      success: function(res) { 
        console.log(res)
        store.set("auth-token", res.data.token)
      },
      error: function(e) {
        console.log(e)
      }
    });
  });

  // 2.获取数据
  $("#js-list").on("click", function(){

    let query = {
      pageNumber: 1,
      pageSize: 2,
      name: '刘'
    }

    const params = Object.keys(query)
      .map(key => query[key] && `${encodeURIComponent(key)}=${encodeURIComponent(query[key])}`)
      .join('&');

    $.ajax({
      type: "get",
      url: "http://127.0.0.1:3000/user/list?" + params,
      async:  true,
      cache: false,
      dataType: "json",
      success: function(data) {     
        console.log(data)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });

  // 3.添加数据
	$("#js-add").on("click", function(){

		let user = {
			RoleId: 2,
			Name: '张小帅444',
			Password: 'admin333',
			Email: '33@sohu.com',
			Mobile: '13889888888',
			IsSuper: 1,
			Status: 1,
			CreateTime: '2019-06-07 08:00:00'
		}

		$.ajax({
      type: "post",
      url: "http://127.0.0.1:3000/user/save",
      async:  true,
      data: JSON.stringify(user),
      cache: false,
      dataType: "json",
      success: function(data) {   	
        console.log(data)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
	  });
	});

  // 4.修改数据
  $("#js-update").on("click", function(){

    let user = {
      RoleId: 2,
      Name: '张小帅444',
      Password: 'admin333',
      Email: '33@sohu.com',
      Mobile: '13889888888',
      IsSuper: 1,
      Status: 1,
      CreateTime: '2019-06-07 08:00:00'
    }

    $.ajax({
      type: "post",
      url: "http://127.0.0.1:3000/user/save",
      async:  true,
      data: JSON.stringify(user),
      cache: false,
      dataType: "json",
      success: function(data) {     
        console.log(data)
      },
      error: function(e) {
        console.log(e)
      },
      beforeSend: function(request) {
        request.setRequestHeader("Authorization", "bearer "+store.get("auth-token"));
      }
    });
  });
})
</script>
</body>
</html>
